/* 영문 & 숫자 */
@font-face {
	font-family: 'Montserrat';
	font-weight: 800;
	font-display: swap;
	src: local('Montserrat-Black'), url('/assets/fonts/montserrat/Montserrat-Black.ttf') format('ttf'), url('/assets/fonts/montserrat-bold-webfont.woff') format('woff');
}

@font-face {
	font-family: 'Montserrat';
	font-weight: 700;
	font-display: swap;
	src: local('Montserrat-Bold'), url('/assets/fonts/montserrat/Montserrat-Bold.ttf') format('ttf');
}

@font-face {
	font-family: 'Montserrat';
	font-weight: 500;
	font-display: swap;
	src: local('Montserrat-Medium'), url('/assets/fonts/montserrat/Montserrat-Medium.ttf') format('ttf');
}

/* 한글 */
@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), url('/assets/fonts/pretendard/Pretendard-Bold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	font-display: swap;
	src: local('Pretendard SemiBold'), url('/assets/fonts/pretendard/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-display: swap;
	src: local('Pretendard Medium'), url('/assets/fonts/pretendard/Pretendard-Medium.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url('/assets/fonts/pretendard/Pretendard-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 300;
	font-display: swap;
	src: local('Pretendard Light'), url('/assets/fonts/pretendard/Pretendard-Light.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 200;
	font-display: swap;
	src: local('Pretendard ExtraLight'), url('/assets/fonts/pretendard/Pretendard-ExtraLight.woff') format('woff');
}


body{font-family:'Pretendard', 'Malgun Gothic', '돋움', 'dotum', 'Apple SD Gothic Neo', sans-serif; font-weight: 500; font-size: 16px;}
.font-en{font-family: 'Montserrat', sans-serif; font-weight: 800;}