/* swiper library custormizing */
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{display: flex; width: 100%; flex-wrap: wrap; bottom: 0;}
.swiper-pagination-bullet{width: auto; height: auto; padding: 20px 0; flex: 1; border-radius: 0; background: none; opacity: 1;}

.swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal{left: 0; bottom: 0; height: 2px; width: 100%;}
.swiper-scrollbar-drag{background: darkblue;}
.parallax-bg {position: absolute; left: 0; top: 0; width: 130%; height: 100%; -webkit-background-size: cover; background-size: cover; background-position: center;}

/* 비디오 article */
.video{}
.video-swiper{height: 500px;}

/* 커리큘럼 article */
.curri{display: flex; gap: 0 100px; margin-top: 100px;}
.curri a{display: block; flex: 1; background: lightcoral;}
