@charset "utf-8";


/* 공통 */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="tel"]{}

header .inner{border-bottom: 1px solid #d7d7d7;}

.container{padding: 120px 0 0 0; text-align: center;}
.container > .inner{max-width: 1250px; margin: auto; padding: 60px 20px 90px;}
.container h2{margin-bottom: 70px; font-size: 36px; font-weight: 300;}

/* 간편 로그인 화면 */
.login-wrap{}
.login-wrap .box{width: 320px; margin: auto;}
.login-wrap ul{gap: 10px 0;}
.btn-kakao{background: var(--kakao-color); color: #fff;}
.btn-naver{background: var(--naver-color); color: #fff;}


/* 일반 로그인 화면 */
.login-nm-wrap{}
.login-nm-wrap .box{width: 320px; margin: auto;}
.login-nm-wrap .box dl dd{display: flex; flex-wrap: wrap; height: 60px; padding: 10px; border: 1px solid #2249cd;}
.login-nm-wrap .box dl dd + dd{margin-top: -1px;}
.login-nm-wrap .box .txt-warning{display: block; margin-top: 10px; text-align: left;}
.login-nm-wrap .btns{margin-top: 10px;}

.login-menu{display: flex; justify-content: space-around; margin-top: 20px;}
.login-menu li{position: relative;}
.login-menu li a{display: inline-block; font-size: 15px;}
.login-menu li:nth-child(2):before,
.login-menu li:nth-child(2):after{display: inline-block; position: absolute; top: 2px; content: "|"; font-size: 14px; color: #222b48;}
.login-menu li:nth-child(2):before{left: -25%;}
.login-menu li:nth-child(2):after{right: -25%;}

/* 간편로그인 & 일반로그인 공통 */
.box .btns.btm{margin-top: 30px; padding-top: 30px; border-top: 1px solid #222b48;}

/* 아이디 찾기 */
.id-inquiry{}
.id-inquiry .box{width: 320px; margin: auto;}
.id-inquiry .btns{margin-top: 10px;}
.id-inquiry .bd-input{margin-top: 10px;}
.id-inquiry .bd-input button{margin-right: 10px;}

/* 아이디 찾기 | 완료 */
.id-inquiry-done{}
.id-inquiry-done .box{width: 320px; margin: auto;}

/* 회원가입 */
.join-wrap{}
.join-wrap input[type="text"],
.join-wrap input[type="password"],
.join-wrap input[type="number"],
.join-wrap input[type="tel"],
.join-wrap input[type="email"],
.join-wrap select{width: 60%;}
.join-wrap .box{width: 320px; margin: auto;}
.join-wrap .box .btn-sm{margin-left: auto; padding: 0 10px; width: 110px;}
.join-wrap .box dl{text-align: left;}
.join-wrap .box dl + dl{margin-top: 20px;}
.join-wrap .box dl dd{display: flex; flex-wrap: wrap; height: 60px; padding: 10px; margin-top: 10px; border: 1px solid #2249cd;}
.join-wrap .box dt{display: block;}
.join-wrap .box dd + .txt-warning{display: block; margin-top: 10px;}
.join-wrap .chk-lst{display: flex; margin-top: 15px; gap: 0 25px;}
.join-wrap .btns{margin-top: 30px;}

/* 회원가입 | 완료 */
.join-done{}
.join-done .box{width: 320px; margin: auto;}
.join-done p{margin-top: 60px; font-size: 20px;}
.join-done .btns{margin-top: 100px;}

/* +++++++++++++++++++ */
/* 모바일 기기가 아닌 태그에 :hover 스타일 적용 */
/* +++++++++++++++++++ */
@media (hover: hover) {
	header nav .dep01:hover ~ .back-bg{border-top: 0;}
}